{% extends "base.html" %} {% block content %}

<div style="padding-bottom: 50px"></div>
<div
  class="container shadow-lg p-4 mb-4 bg-white rounded"
  style="padding-left: 200px; padding-right: 200px"
>
  <h1 style="padding-top: 30px; padding-bottom: 40px">Edit Journal</h1>
  <form method="POST" action="{{url_for('updateJournal')}}">
    <input type="hidden" id="id" name="id" value="{{aJournal[0]}}" />
    <div class="row">
      <div class="col-sm-1">
        <label>Date:</label>
      </div>
      <div class="col-sm-4">
        <input
          type="text"
          id="date"
          name="date"
          value="{{aJournal[2]}}"
          class="form-control form-control-sm"
        />
      </div>
      <div class="col-sm-1">
        <label>Title:</label>
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          id="title"
          name="title"
          value="{{aJournal[1]}}"
          class="form-control form-control-sm"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <label>Author:</label>
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          id="author"
          name="author"
          value="{{aJournal[4]}}"
          class="form-control form-control-sm"
        />
      </div>
      <div class="col-sm-1">
        <label>Tag:</label>
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          id="tag"
          name="tag"
          value="{{aJournal[6]}}"
          class="form-control form-control-sm"
        />
      </div>
      <div class="col-sm-1">
        <label>Emotion:</label>
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          id="emotion"
          name="emotion"
          value="{{aJournal[5]}}"
          class="form-control form-control-sm"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label>Entry:</label>
        <textarea
          class="form-control form-control-sm"
          rows="20"
          id="content"
          name="content"
        >
{{aJournal[3]}}</textarea
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
  </form>
</div>
{% endblock%}
