<!DOCTYPE html>
<html lang="EN">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title></title>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div style="padding-bottom: 50px"></div>
    <div
      class="container shadow-lg p-4 mb-4 bg-white rounded mx-auto w-50"
      style="padding-top: 100px"
    >
      <div class="row w-25 mx-auto">
        <h1 style="padding-bottom: 20px">Sign Up</h1>
      </div>
      <br />
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-danger">
        {{ messages[0] }}. Go to
        <a href="{{ url_for('login') }}">login page</a>.
      </div>
      {% endif %} {% endwith %}
      <form action="/signup" method="post">
        <div class="row w-25 mx-auto" style="padding-top: 5px">
          <input
            class="form-control form-control-sm"
            type="text"
            placeholder="Name"
            name="name"
          />
        </div>
        <div></div>
        <div class="row w-25 mx-auto" style="padding-top: 5px">
          <input
            class="form-control form-control-sm"
            type="text"
            placeholder="Email"
            name="email"
          />
        </div>
        <div></div>
        <div class="row w-25 mx-auto" style="padding-top: 5px">
          <input
            class="form-control form-control-sm"
            type="password"
            placeholder="Password"
            name="password"
          />
        </div>
        <div class="row" style="padding: 20px">
          <input
            class="btn btn-primary mx-auto"
            type="submit"
            value="Sign Up"
          />
        </div>
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>
    </div>
  </body>
</html>
